@charset "UTF-8";

body {
	background-image: url("ciel.jpg");
	height: 100%;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Open Sans';
	font-weight: 300;
}

.main {
	background: white url(escaladeLog3.jpg) right top no-repeat;
	background-size: contain;
	padding: 10px 0 20px 5px;
	margin-top: 120px;
}

@media only screen and (max-width : 992px) {
	.main {
		background: white;
		margin-top: 30px;
	}
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #555;
	margin-bottom: 0;
}

form {
	margin-top: 60px;
}

.form-control, .btn {
	border-radius: 0px;
	margin: 0.5em;
	margin-left: auto;
    margin-right: auto;
    height: 20%;
    font-size: 1.5em;
	font-family: Montserrat, sans-serif;
}

.btn {
	transition: all ease-in-out 0.2s;
}