body {
	padding-top: 60px;
	background-image: url("escaladePageSecteur.jpg");
	height: 100%;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	font-size: 2em;
	font-family: Montserrat, sans-serif;
}

.navbar-default {
	background-image: radial-gradient(circle at top left, white, green);
	border-color: #e7e7e7;
}

.navbar-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
}

.navbar-form {
	margin-right: 100px;
	display: inline-block;
}

.active {
	background-color: #cae5fb;
}

.list-group {
	font-size: 2em;
}

.navbar-header {
	font-size: 1.2em;
}

.image {
	width: 100%;
}

.panel {
	margin-left: 60px;
	margin-right: 35%;
}

.panel-body {
	font-size: 2.4em;
	font-family: Verdana, "Times New Roman", Georgia, serif;
	padding-left: 250px;
	background-image: radial-gradient(circle at top left, white, green);
}

.btn1 {
	width: 100%;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font-family: Montserrat, sans-serif;
	font-size: 2.2em;
	margin: 0.5em;
	margin-left: auto;
    margin-right: auto;
}

.login_bg .form-control {
	background: #fff;
	padding: 20px;
	border: 2px solid #000000;
	color: #000000;
	font-size: 1.6em;
}

.login_bg {
	background: #ffffff36;
	min-height: 150px;
	margin-top: 5%;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 0px #00000029;
}

.container {
	width: 970px;
}

nav>ul>li {
	float: left;
	position: relative;
}

nav li {
	list-style-type: none;
}

.submenu {
	display: none;
}

.navbar {
	width: 100%;
	background-color: #424558;
}

nav>ul::after {
	content: "";
	display: block;
	clear: both;
}

nav a {
	display: inline-block;
	text-decoration: none;
}

nav>ul>li>a {
	padding: 20px 30px;
	color: #FFF;
}

.submenu {
	display: none;
	background-image: radial-gradient(circle at top left, white, green);
}

nav li:hover .submenu {
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 100000;
}

.submenu li {
	border-bottom: 1px solid #CCC;
}

.submenu li a {
	padding: 15px 30px;
	font-size: 0.6em;
	color: #222538;
	width: 270px;
}

.submenu li:hover a {
	color: #000000;
	font-weight: bold;
}

.styled-select {
	height: 45px;
	overflow: hidden;
	color: #3465a4;
	font-size: 2em;
	font-family: Verdana, "Times New Roman", Georgia, serif;
	vertical-align: middle;
}

label {
	display: block;
	width: 150px;
	float: left;
}

textarea {
	resize: none;
	font-size: 2em;
	font-family: system-ui;
	box-sizing: border-box;
}

select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 2em;
	font-family: Montserrat, sans-serif;;
}

.jumbotron {
	background-image: radial-gradient(circle at top left, white, green);
	color: #000000;
	padding: 0.4em;
	font-family: Montserrat, sans-serif;
}

.form-control {
	font-size: 1.8em;
	font-family: Montserrat, sans-serif;
	height: 20%;
	margin-bottom: 10px;
}

.list {
	font-size: 1.8em;
	font-family: Montserrat, sans-serif;	
}
.checkmark  {
	position: absolute;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

/* Fond du gadget de la barre de recherche */
.recherche_p {
  background-color: #eeeeee;   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 1px;   /* Epaisseur de la bordure  */
  border-color: #dddddd;   /* Couleur de la bordure  */
  padding: 10px 10px 10px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
}


/* Champ de saisie */
#searchthis #search {
  background-color: #ffffff;   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 1px;   /* Epaisseur de la bordure  */
  border-color: #dddddd;   /* Couleur de la bordure  */
  padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
  width: 30%;   /* Permet d'ajuster la largeur du champ de saisie à 100% */
  box-sizing: border-box;   /* Important */
  font-family: Montserrat, sans-serif;   /* Police du texte */
  font-size: 2em;   /* Taille de la police du texte */
  font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
  margin: 60px 0 0 1050px; 
}

#searchthis #search-btn {
  background-color: #73d216;   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 1px;   /* Epaisseur de la bordure  */
  border-color: #73d216;   /* Couleur de la bordure  */
  padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
  width: 30%;   /* Permet d'ajuster la largeur du champ de saisie à 100% */
  box-sizing: border-box;   /* Important */
  font-family: Montserrat, sans-serif;   /* Police du texte */
  font-size: 30px;   /* Taille de la police du texte */
  font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
  margin: 5px 0 0 1050px;   /* Espace autour du bouton : haut droite bas gauche  */
  text-transform: uppercase;   /* Transforme le texte en majuscules */
  color: #ffffff;   /* Couleur du texte */
}

/* Bouton valider quand survolé par la souris */
#searchthis #search-btn:hover {
  background-color: #ffffff;   /* Couleur de fond */
  color: #73d216;   /* Couleur du texte */
  cursor: pointer;   /* Apparence du curseur comme pour un lien */
}

.label-info {
	font-size: 2em;
	font-family: Montserrat, sans-serif;
}